.homeHero {
    text-align: center;

    h2 {
        font-weight: 450;
        font-size: 2rem;
        text-align: center;
        margin: 2rem 0;
    }

    h3 {
        font-weight: 400;
        font-size: 2rem;
        text-align: center;
        margin: 2rem 0;
    }

    .service-content {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        img {
            height: 162px;
        }
        p {
            text-align: center;
        }
    }

    .row {
        .white-icon {
            filter: brightness(0) invert(1);
            width: 32px;
            margin-top: 15px;
        }

        .circle {
            width: 64px;
            height: 64px;
            background: $yellow;
            border-radius: 50%;
        }
    }
}

.exam {
    margin-top: 3rem;
    background-size: cover;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/exam.jpg);
    background-position: center;
    text-align: center;
    height: 500px;

    h1 {
        line-height: 0.9;
        text-align: center;
        color: $primaryWhite;
        font-weight: 300;
        font-size: 3rem;
        padding: 6rem 1.5rem;
    }
    button {
        margin: 0;
    }
}

.slider {
    display: flex;
    overflow: scroll;
    gap: 16px;
    padding-left: 40px;
}

::-webkit-scrollbar {
    display: none;
}

.result-slider {
    width: 250px;
}

// .arrow {
//     position: relative;
//     top: 193px;
//     width: 40px;
//     height: 40px;
//     background-color: $gray;
//     border-radius: 50%;
//     i {
//         position: absolute;
//         top: 12px;
//         left: 14px;
//     }
// }
// #right {
//     left: 1000px;
// }

.student {
    border: 1px dotted $green;

    P{
        font-size: 23px;
        span{
            font-weight: bold;
            color: $green;
            font-size: 28px;
            opacity: 0.8;
        }
    }
}
